In [1]:
import numpy as np #mathematics
import matplotlib.pyplot as plt #like graph plot
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset=dataset.astype(int)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
dataset["Purchased"].value_counts() #count how many 0 and 1 in purchased column

Purchased
0    257
1    143
Name: count, dtype: int64

In [9]:
independent=dataset[["Age","EstimatedSalary","Gender_Male"]]
dependent=dataset[["Purchased"]]

In [10]:
independent.shape

(400, 3)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [17]:
#model creation
from sklearn.tree import DecisionTreeClassifier
#regressor=DecisionTreeRegressor()
#regressor=DecisionTreeRegressor(criterion='squared_error', max_features='auto', splitter='random')
#regressor=DecisionTreeRegressor(criterion='friedman_mse', max_features='log2', splitter='best')
#regressor=DecisionTreeRegressor(criterion='friedman_mse', max_features='sqrt',splitter='random')
#regressor=DecisionTreeRegressor(criterion='absolute_error',max_features='log2', splitter='best')
#regressor=DecisionTreeRegressor(criterion='absolute_error',max_features='sqrt', splitter='random')
#regressor=DecisionTreeRegressor(criterion='poisson', max_features='log2', splitter='best')
#Classifier=DecisionTreeClassifier(criterion='poisson', max_features='sqrt', splitter='random')
classifier=DecisionTreeClassifier(criterion='entropy', random_state=0)
classifier=Classifier.fit(x_train,y_train)

In [18]:
y_pred=classifier.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [20]:
print(cm)

[[71  8]
 [ 3 38]]

In [21]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [22]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.96      0.90      0.93        79
           1       0.83      0.93      0.87        41

    accuracy                           0.91       120
   macro avg       0.89      0.91      0.90       120
weighted avg       0.91      0.91      0.91       120

In [23]:
classifier.predict([[40,300,1]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])